h1 {
  text-align: center;
  line-height: 4;
  color: #320;
}

h2 {
  text-align: center;
}

body {
  font-size: 1em;
  font-family: arial, sans-serif;
  background-color: #ffffe6;
}
p {
  margin: 0 100px;
}

img {
  width: 70%;
  margin: auto;
  display: block;
  border: solid black 2px;
  padding: 7px;
  margin-top: 5px;
}

div {
  width: 30%;
  float: left;
}

iframe {
  width: 50%;
  margin: auto;
  display: block;
}

nav li {
  display: inline-block;
  width: 18%;
  font-size: 24px;
  text-align: center;
}

nav li:hover {
  background: rgba(230, 153, 0, .6);
  box-shadow: 2px 3px rgba(102, 68, 0, .1);
}

a {
  text-decoration: none;
  color: #e69900;
}

a:hover {
  color: #664400;
}
